/*폰트*/
body{font-family: 'Nanum Gothic', sans-serif;}
h2, h3, h4{font-family: 'Black Han Sans', sans-serif;}
h1{font-family: 'Noto Sans KR', sans-serif; color:#08d9d6;}
strong{color: #ff2E63;}




/* 네비게이션 영역*/
.nav-link:hover,
.nav-link.active {color: #08d9d6;}

.carousel-control{width: 15%;}
.carousel-caption{width: auto; height: auto;}

/* 서비스 섹션 */
.card-hover:hover {
    background-color: rgba(8, 217, 214, 0.3);
}